In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## One Attribute Group

**Please run all cells before this cell, including the import cell at the top of the notebook.**

In [ ]:
all_cones = Table.read_table('cones.csv')
cones = all_cones.drop('Color').exclude(5)
cones

In [ ]:
cones.group('Flavor')

In [ ]:
cones.group('Flavor', list)

In [ ]:
cones.group('Flavor', len)

In [ ]:
cones.group('Flavor', min)

In [ ]:
min(cones.where('Flavor', 'chocolate').column('Price'))

In [ ]:
cones.group('Flavor', np.average)

In [ ]:
def data_range(x):
    return max(x) - min(x)

In [ ]:
cones.group('Flavor', data_range)

In [3]:
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
nba

PLAYER           | POSITION | TEAM          | SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

### Exercise: Which team spent the most on their starters?
#### Assume that a "starter" is the player with the highest wage in a position

In [4]:
starters = nba.drop('PLAYER').group(['TEAM', 'POSITION'], max)
starters

TEAM           | POSITION | SALARY max
Atlanta Hawks  | C        | 12
Atlanta Hawks  | PF       | 18.6717
Atlanta Hawks  | PG       | 8
Atlanta Hawks  | SF       | 4
Atlanta Hawks  | SG       | 5.74648
Boston Celtics | C        | 2.61698
Boston Celtics | PF       | 5
Boston Celtics | PG       | 7.73034
Boston Celtics | SF       | 6.79612
Boston Celtics | SG       | 3.42551
... (137 rows omitted)

In [5]:
starters.group('TEAM', sum).sort('SALARY max sum', descending=True)

TEAM                  | POSITION sum | SALARY max sum
Cleveland Cavaliers   |              | 82.3166
Oklahoma City Thunder |              | 70.6988
Miami Heat            |              | 67.1273
San Antonio Spurs     |              | 67.034
Golden State Warriors |              | 66.6431
Houston Rockets       |              | 61.2029
Chicago Bulls         |              | 57.8247
Los Angeles Lakers    |              | 55.8276
New York Knicks       |              | 55.0595
Memphis Grizzlies     |              | 53.5235
... (20 rows omitted)

## remake of the nba exercise using pivot table technique

In [27]:
pivot_starters = pivot_nba.pivot('POSITION', 'TEAM', 'SALARY', max) 
pivot_starters

TEAM                  | C       | PF      | PG      | SF      | SG
Atlanta Hawks         | 12      | 18.6717 | 8       | 4       | 5.74648
Boston Celtics        | 2.61698 | 5       | 7.73034 | 6.79612 | 3.42551
Brooklyn Nets         | 1.3629  | 11.236  | 6.3     | 24.8949 | 3.42551
Charlotte Hornets     | 13.5    | 7       | 12      | 6.3314  | 13.1253
Chicago Bulls         | 13.4    | 5.54373 | 20.0931 | 2.38044 | 16.4075
Cleveland Cavaliers   | 14.2609 | 19.689  | 16.4075 | 22.9705 | 8.98876
Dallas Mavericks      | 5.2     | 15.4937 | 5.37897 | 15.3615 | 1.449
Denver Nuggets        | 5.6135  | 11.236  | 4.345   | 14      | 1.58448
Detroit Pistons       | 6.5     | 0       | 13.913  | 2.84196 | 6.27
Golden State Warriors | 13.8    | 14.2609 | 11.3708 | 11.7105 | 15.501
... (20 rows omitted)

## sum all the values along the numerical columns
### An interesting technique is to drop the unnecessary columns in order to apply a function only to the columns we want

In [29]:
totals = pivot_starters.drop(0).apply(sum)
totals

array([48.418138, 25.568939, 47.219225, 51.95671 , 57.824729, 82.316636,
       42.883154, 36.778935, 29.525004, 66.643112, 61.202857, 42.470106,
       51.938023, 55.827577, 53.52352 , 67.127342, 30.515694, 42.44192 ,
       47.205044, 55.059532, 70.69877 , 48.980046, 26.247027, 39.62784 ,
       28.335864, 43.815657, 67.034   , 46.579157, 36.325774, 48.160124])

### Adds the totals as a new column and then sorts it descending

In [35]:
pivot_starters.with_column('Total', totals).sort('Total', descending=True)

TEAM                  | C       | PF      | PG      | SF      | SG      | Total
Cleveland Cavaliers   | 14.2609 | 19.689  | 16.4075 | 22.9705 | 8.98876 | 82.3166
Oklahoma City Thunder | 16.4075 | 12.25   | 16.7442 | 20.1586 | 5.13843 | 70.6988
Miami Heat            | 0       | 22.1927 | 14.783  | 10.1516 | 20      | 67.1273
San Antonio Spurs     | 7.5     | 19.689  | 13.4375 | 16.4075 | 10      | 67.034
Golden State Warriors | 13.8    | 14.2609 | 11.3708 | 11.7105 | 15.501  | 66.6431
Houston Rockets       | 22.3594 | 2.48953 | 12.4045 | 8.19303 | 15.7564 | 61.2029
Chicago Bulls         | 13.4    | 5.54373 | 20.0931 | 2.38044 | 16.4075 | 57.8247
Los Angeles Lakers    | 15.5922 | 3.13224 | 5.10312 | 25      | 7       | 55.8276
New York Knicks       | 12.65   | 4.13172 | 7.40281 | 22.875  | 8       | 55.0595
Memphis Grizzlies     | 19.688  | 9.63856 | 9.58843 | 9.45    | 5.15854 | 53.5235
... (20 rows omitted)

In [ ]:
teams_and_money = nba.select('TEAM', 'SALARY')
teams_and_money.group('TEAM', sum).sort(1, descending=True)

In [ ]:
nba.group('TEAM', sum)

In [ ]:
position_and_money = nba.select('POSITION', 'SALARY')
position_and_money.group('POSITION')

In [ ]:
position_and_money.group('POSITION', np.average)

## Cross Classification

**Please run all cells before this cell, including the previous example cells and the import cell at the top of the notebook.**

In [ ]:
all_cones

In [ ]:
all_cones.group('Flavor')

In [ ]:
all_cones.group(['Flavor', 'Color'])

In [ ]:
all_cones.group(['Flavor', 'Color'], max)

In [ ]:
nba

In [ ]:
nba.drop(0).group(['TEAM', 'POSITION'], np.average)

In [ ]:
nba.drop(0, 2).group('POSITION', np.average)

In [ ]:
full_table = Table.read_table('educ_inc.csv')
ca_2014 = full_table.where('Year', are.equal_to('1/1/14 0:00')).where('Age', are.not_equal_to('00 to 17')).drop(0).sort('Population Count')
ca_2014

In [ ]:
no_ages = ca_2014.drop(0)
no_ages

In [ ]:
no_ages.group([0, 1, 2], sum)

## Example 1: NBA Salaries with group

**Please run all cells before this cell, including the previous example cells and the import cell at the top of the notebook.**

In [ ]:
starter_salaries = nba.drop(0).group(['TEAM', 'POSITION'], max)
starter_salaries

In [ ]:
starter_salaries.drop(1).group('TEAM', sum).sort(1, descending=True)

## Pivot Tables

**Please run all cells before this cell, including the previous example cells and the import cell at the top of the notebook.**

In [ ]:
all_cones

In [ ]:
all_cones.group(['Flavor', 'Color'])

In [ ]:
all_cones.pivot('Flavor', 'Color')   # pivot table, contingency table

In [ ]:
all_cones.pivot('Color', 'Flavor')

In [ ]:
all_cones.pivot('Color', 'Flavor', values = 'Price', collect = max)

In [ ]:
nba

In [ ]:
nba.drop(0).group(['TEAM', 'POSITION'], np.average)

In [ ]:
nba.pivot('POSITION', 'TEAM', 'SALARY', np.average)

## Example 2: NBA Salaries with pivot

**Please run all cells before this cell, including the previous example cells and the import cell at the top of the notebook.**

In [ ]:
step_1 = nba.pivot('POSITION', 'TEAM', 'SALARY', max)
step_1

In [ ]:
totals = step_1.drop(0).apply(sum)
step_1.with_columns('TOTAL', totals).sort(6, descending=True)

## Comparing Distributions

**Please run all cells before this cell, including the previous example cells and the import cell at the top of the notebook.**

In [ ]:
ca_2014

In [ ]:
educ_income = ca_2014.pivot(2, 3, 4, sum)
educ_income

In [ ]:
def percent(x):
    """Convert an array of counts into percents"""
    return np.round((x / sum(x)) * 100, 2)

In [ ]:
distributions = educ_income.select(0).with_columns(
    'Bachelors or Higher', percent(educ_income.column(1)),
    'High School', percent(educ_income.column(2))
)
distributions

In [ ]:
sum(distributions.column(1))

In [ ]:
distributions.barh(0)